doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title BrainGames

		// build:css styles/styles.css
		//- Check out 'src/bower_components/prism/themes/' for available themes
		link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
		link(rel='stylesheet', type='text/css', href='styles/main.css')
		link(rel='stylesheet', type='text/css', href='styles/style.css')
		// endbuild
		link(rel='stylesheet', href='css/bootstrap.min.css')
		script(src='js/bootstrap.min.js')
		script(src='js/jquery.min.js')
		
	body
		.container
			article
				section
					h1 Selamat datang di BrainGames
					table(class='aPer')
						tr
							td
								img(src='img/141110418.jpg', width='110', height='150', border='0', alt='14 111 0418')
							td 
								img(src='img/141110451.jpg', width='110', height='150', border='0', alt='14 111 0451')
						tr
							td Ivan Fernando (14 111 0451)
							td Muhammad Rinaldi (14 111 0451)
						tr
							td
								img(src='img/121113479.jpg', width='110', height='150', border='0', alt='12 111 3479')
							td 
								img(src='img/141110027.jpg', width='110', height='150', border='0', alt='14 111 0027')
						tr
							td Ilhamdi (12 111 3479)
							td Jeffry Lim (14 111 0027)
				section
					h1 Apa itu BrainGames?
					ul
						h2
							li Suatu permainan yang berfokus dalam hal mengasah kemampuan otak
					ol
						h3
							li Bertujuan meningkatkan ketelitian pada saat bekerja
						h3
							li Bertujuan mengefisiensikan kinerja otak dalam hal ingatan
						h3
							li Bertujuan meningkatkan kecepatan dalam menganalisa
						h3
							li Sebagai tambahan sarana edukasi atau pengetahuan
				
				section
					h1 Quis Ketelitian
					table(class='kuis_n')
						tr
							td(colspan=2, class='kuis_n_q')
								img(src='images/dancer.gif', width='110', height='150', border='0', alt='14 111 0418')
								
					ul
						h3 
							li Tebakan Untuk Gambar ini : Kearah mana gadis ini berputar ?
					
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(1)') Kiri
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(1)') Kanan

				section
					h1 Quis Ketelitian
							
					ul
						h4 
							li Anda bandingkan susunan huruf/angka/kata pada masing-masing soal yang diberikan. Kemudian, jawab dengan huruf S bila susunan hutuf/angka/kata yang ada di depan sama dengan yang ada di belakangnya. Dan isilah T bila huruf/angka/kata tidak sama antara yang di depan dengan yang dibelakangnya.

						h4
							li Contoh :

						h3
							li Lowongan --- Lowomgan
					
						h4
							li Jawabannya
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(1)') T
				
				section
					h1 Quis Ketelitian
							
					ul
						h3 
							li Berikut adalah soalnya, jawablah dengan teliti !

						h2
							li Locasalen --- Locasalen
					
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(1)') S
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(1)') T

				section
					h1 Quis Ketelitian
							
					ul
						h3 
							li Alright! Next question, here we go!

						h2
							li 69877 --- 69787
					
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(1)') S
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(1)') T		
					
					
					
			
			// build:js scripts/scripts.js
			script(src='bower_components/bespoke.js/dist/bespoke.min.js')
			script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
			script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
			script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
			script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
			script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
			script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
			script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
			script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
			script(src='bower_components/prism/prism.js')
			script(src='scripts/main.js')
			// endbuild