doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title BrainGames

		// build:css styles/styles.css
		//- Check out 'src/bower_components/prism/themes/' for available themes
		link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
		link(rel='stylesheet', type='text/css', href='styles/main.css')
		link(rel='stylesheet', type='text/css', href='styles/style.css')
		// endbuild
		link(rel='stylesheet', href='css/bootstrap.min.css')
		script(src='js/bootstrap.min.js')
		script(src='js/jquery.min.js')
		
	body
		.container
			article
				section
					h1 Selamat datang di BrainGames
					table(class='aPer')
						tr
							td
								img(src='img/141110418.jpg', width='110', height='150', border='0', alt='14 111 0418')
							td 
								img(src='img/141110451.jpg', width='110', height='150', border='0', alt='14 111 0451')
						tr
							td Ivan Fernando (14 111 0451)
							td Muhammad Rinaldi (14 111 0451)
						tr
							td
								img(src='img/121113479.jpg', width='110', height='150', border='0', alt='12 111 3479')
							td 
								img(src='img/141110027.jpg', width='110', height='150', border='0', alt='14 111 0027')
						tr
							td Ilhamdi (12 111 3479)
							td Jeffry (14 111 0027)
				section
					h1 Apa itu BrainGames?
					ul
						h3
							li Suatu permainan yang berfokus dalam hal mengasah kemampuan otak. Dalam permainan ini akan berfokus pada 3 aspek, yaitu Ketelitian, Ingatan, dan Kecepatan.
					ol
						h4
							li Bertujuan meningkatkan ketelitian pada saat bekerja
						h4
							li Bertujuan mengefisiensikan kinerja otak dalam hal ingatan
						h4
							li Bertujuan meningkatkan kecepatan dalam menganalisa
						h4
							li Sebagai tambahan sarana edukasi atau pengetahuan
				
				section
					h1 Quis Ketelitian
					table(class='kuis_n')
						tr
							td(colspan=2, class='kuis_n_q')
								img(src='images/dancer.gif', width='110', height='150', border='0', alt='14 111 0418')
								
					ul
						h3 
							li Tebakan Untuk Gambar ini : Kearah mana gadis ini berputar ?
					
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(1)') Kiri dan Kanan
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') Hanya Kiri
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') Hanya Kanan

				section
					h1 Quis Ketelitian
							
					ul
						h4 
							li Anda bandingkan susunan huruf/angka/kata pada masing-masing soal yang diberikan. Kemudian, jawab dengan huruf S bila susunan hutuf/angka/kata yang ada di depan sama dengan yang ada di belakangnya. Dan isilah T bila huruf/angka/kata tidak sama antara yang di depan dengan yang dibelakangnya.

						h4
							li Contoh :

						h3
							li Lowongan --- Lowomgan
					
						h4
							li Jawabannya
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') Benar
				
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(1)') Salah
				
				section
					h1 Quis Ketelitian
							
					ul
						h3 
							li Berikut adalah soalnya, jawablah dengan teliti !

						h2
							li Locasalen --- Locasalen
					
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(1)') Benar
				
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') Salah

				section
					h1 Quis Ketelitian
							
					ul
						h3 
							li Alright! Next question, here we go!

						h2
							li 69877 --- 69787
					
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') Benar
				
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(1)') Salah		
					
				section
					h1 Quis Ketelitian
							
					ul
						h3 
							li Question:

						h2
							li MLTHTS --- MTHSST
					
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') Benar
				
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(1)') Salah	
				
				section
					h1 Quis Ketelitian
							
					ul
						h3 
							li Question:

						h2
							li 110011 --- 111001
					
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') Benar
				
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(1)') Salah

				section
					h1 Quis Ketelitian
							
					ul
						h3 
							li Question:

						h2
							li THTSTQ --- THTSTQ
					
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(1)') Benar
				
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') Salah

				section
					h2 Quis Kecepatan
							
					ul
						h3 
							li Jawablah dengan seksama!

						h4
							li Ada 8 kotak peti, masing-masing diberi nomor 1 sampai 7. Buah jambu, melon, semangka, jeruk, mangga dan durian akan dimasukkan kedalam peti-peti tersebut dengan aturan sebagai berikut:

							li • Durian harus dimasukkan ke peti nomor 4
							li • Semangka tidak boleh diletakkan tepat disamping melon
							li • Jeruk harus diletakkan disamping mangga.
							li Jika melon diletakkan di peti nomor 2, maka mana yang tidak boleh dilakukan?
					
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(1)') Semangka diletakkan di nomor 3
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') Jeruk diletakkan di peti nomor 5
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') Mangga diletakkan di peti nomor 7
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') Semangka diletakkan di peti nomor 5
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') Jambu diletakkan di peti nomor 1

				section
					h1 Quis Kecepatan
							
					ul
						h2 
							li Jawablah dengan seksama!

						h3
							li Jika kamu hanya punya satu korek api, di saat cuaca sangat dingin, kamu masuk ke dalam suatu ruangan (gelap dan dingin) yang hanya ada sebuah lilin, lampu tempel, petromax, dan kayu bakar, mana yang seharusnya kamu nyalakan dahulu?
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') Lilin
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') Korek Api
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') Lampu Tempel
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') Petromax
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(1)') Kayu Bakar
							
						
				section
					h1 Quis Kecepatan
							
					ul
						h2 
							li Jawablah dengan seksama!

						h3
							li Seekor siput ada di dasar sumur dan sangat ingin keluar dari sumur tersebut. Dia memutuskan untuk memanjat tembok sumur tersebut. Setiap hari dia mampu memanjat setinggi 3 kaki, tapi pada malamnya dia harus istirahat (setelah memanjat sepanjang hari dan dia turun kembali 2 kaki. Jika kedalaman sumur 30 kaki, berapa hari yang diperlukan siput untuk keluar dari sumur tersebut?
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') 1 Hari
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') 5 Hari
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') 10 Hari
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') 15 Hari
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(1)') 30 Hari

				section
					h1 Quis Kecepatan
							
					ul
						h3 
							li Hitunglah dengan cermat!

						h5
							li Ambil 1000 dan tambahkan 40 padanya!
							li Sekarang tambahkan 1000 lagi!
							li Sekarang tambahkan 30!
							li Tambahkan 1000 lagi!
							li Sekarang tambahkan 20!
							li Sekarang tambahkan 1000!
							li Sekarang tambahkan 10!
							li Berapakah jumlah nilai sekarang?
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') 5000
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') 4010
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(1)') 4100
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') 4001
						li
							a(class='answer', src='javascript:void(0)', onclick='cek_kebenaran(0)') 4090

				section
					h1 Quis Ingatan
							
					ul
						h2 
							li Jawablah dengan cermat!

						h3
							li Hewan apa yang namanya hanya terdiri dari satu huruf?
						h2
							li I-kan
							li G-Ajah

				section
					h1 Quis Ingatan
							
					ul
						h2 
							li Jawablah dengan cermat!

						h3
							li Hewan apa yang namanya terdiri dari dua huruf?
						h2
							li U dan G
							li P and A

				section
					h1 Quis Ingatan
							
					ul
						h2 
							li Jawablah dengan cermat!

						h3
							li Kalau dimasukkin malah keluar, apakah itu?
						h2
							li Kancing baju

				section
					h1 Quis Ingatan
							
					ul
						h2 
							li Jawablah dengan cermat!

						h3
							li Sebelum dimasukin, dibasahi terlebih dahulu. Apakah itu?		
						h2
							li Benang jarum
				section
					h1 Terima Kasih
							
					ul
						h2 
							li Karena Telah Membuang waktu 5 menit berharga anda.
			
			div(id='statusB', class='gaktampil benar') 
				p
					span(onclick='tutup_status(1)') Jawaban Anda Benar !!!	
			div(id='statusS', class='gaktampil salah')
				p
					span(onclick='tutup_status(0)') Jawaban Anda Salah !!!	
				
			
			// build:js scripts/scripts.js
			script(src='bower_components/bespoke.js/dist/bespoke.min.js')
			script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
			script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
			script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
			script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
			script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
			script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
			script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
			script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
			script(src='bower_components/prism/prism.js')
			script(src='scripts/main.js')
			// endbuild